*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar-container{
    height: 100%;
    width: 300px;
    position: relative;
}

.sidebar-container .sidebar-toggler{
    position: absolute;
    left: 10px;
    top: 10px;
    background: #4a4a4a;
    color: #fff;
    height: 45px;
    width: 45px;
    z-index: 9999;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ;
}

.sidebar-container .sidebar-toggler i{
    position: absolute;
    transform: 0.5s;
    font-size: 23px;
    transition: 0.3s ;
}

.sidebar-container .sidebar-toggler i.fa-times{
    opacity: 0;
}

#sidebar-btn:checked ~ .sidebar-toggler{
    left: 220px;
}
  
#sidebar-btn:checked ~ .sidebar-toggler i.fa-times{
    opacity: 1;
    transform: rotate(-180deg);
}
#sidebar-btn:checked ~ .sidebar-toggler i.fa-bars{
    opacity: 0;
    transform: rotate(180deg);
}

#sidebar{
    background-color: inherit;
    position: fixed;
    padding-top: 100px;
    height: 100%;
    width: 200px;
    overflow: hidden;
    left: -270px;
    transition: 0.3s;
}

#sidebar-btn:checked ~ #sidebar{
    left: 0;
}

#sidebar .list-items{
    font-size: 1.5rem;
    font-weight: 800;
    position: relative;
    width: 100%;
    height: 100%;
    list-style: none;
}

#sidebar .list-items li{
    line-height: 50px;
    transition: 0.3s ;
    text-decoration: none;
}

#sidebar .list-items a{

    text-decoration: none;
    transition: color 0.1s;
}

#sidebar .list-items a:hover{
    color:blue
}