.skills-container{
    /* border: 1px solid;
    border-color: red; */
    min-height: 50vh;
    margin-top: 5vh;
}

.cards-container{
    display:flex;
    justify-content: space-between;
    margin: 5vh 0;
    padding: 0 10vw;
}

.card-container{
    width: 30%;
}

.skills-container img{
    width: 8vw;
    height: auto;
}

.icon-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    /* border: 1px solid; */
    border-radius: 10px;
    height: 100%;
}

.icon-container img{
    width: 5rem;
    transition: 0.2s;
}

.icon-container img:hover{
    transform: rotate(45deg);
}

.icon-container img:hover + p{
    visibility: visible;
}

.icon-container p{
    visibility: hidden;
}

.skills-container h2{
    margin-top: 30px;
}

.icon p{
    margin-bottom: 20px;
}

@media only screen and (max-width: 992px){
    .cards-container{
        padding: 0 5vw;
    }
    .icon p{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 600px) {
    .cards-container{
        flex-direction: column;
        margin-top: 3vh;
    }
    .card-container{
        margin-top: 3vh;
        width: 100%;
    }
}