.skills-container{
    height: 100%;
}

.skills-container img{
    width: 8vw;
    height: auto;
}

.icon-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: 10px;
}

.icon-container img{
    transition: 0.2s;
}

.icon-container img:hover{
    transform: rotate(45deg);
}

.skills-container h2{
    margin-top: 30px;
}

@media only screen and (max-width: 700px){
    .skills-container img{
        width: 20vw;
        height: auto;
    }
}
  
@media only screen and (max-width: 500px){
    .skills-container h2{
        margin-top: 30px;
    }

    .icon-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-end;
    }
    .icon{
        display: flex;
        flex-direction: column;
        flex: 1 1 50;
        width: 50%;
        align-items: center;
    }

    .skills-container img{
        width: 30%;
        height: auto;
    }
}