.skills-container img{
    width: 10vw;
    height: auto;
}

.icon-container{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(7,1fr);
}

.icon-container img{
    transition: 0.2s;
}

.icon-container img:hover{
    transform: translateY(-20px)
}