.homepage-container{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.self-intro-block{
    justify-content: space-between;
}

.contact-block{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    margin-top: 20px;
}

.contact-block i{
    font-size: 50px;
    transform: 0.5s;
}

.contact-block i:hover{
    transform: scale(1.25);
}

.contact-block a{
    color:black
}

@media only screen and (max-width: 992px){
    .homepage-container{
        flex-direction: column-reverse;
    }
    .self-intro-block{
        margin-top: 30px;
    }
}