.project-img{
    border-radius: 8px;
    width: auto;
    height: 15vw;
    transition: 0.5s;
    align-self: center;
}

.demo-btn-group a{
    display:block;
    text-decoration: none;
    color:black;
    font-size: 15px;
}

.demo-btn-group{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.demo-btn-group button{
    height: auto;
    padding: 5px 5px;
    width: 140px;
    border: solid;
    border-radius: 12px;
    background-color: inherit;
}

.demo-btn-group button:hover{
    background-color: rgba(255, 255, 255, 0.5);
    color:black;
}

.project-display{
    display: flex;
    flex-wrap: wrap;
}

.project-container{
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    margin: 20px 0;
}

.project-details{
    height: auto;
    width: 40vw;
    display: flex;
    flex-direction: column;
}

.project-container h3{
    margin: 10px 0px;
}

.project-container p{
    padding: 0 5vw;
    min-height: 8vh;
    margin: 0 0 1rem 0;
}

.project-display h2{
    text-align: center;
}

@media screen and (max-width: 992px){
    .project-display{
        display: flex;
        flex-direction: column;
    }
    .project-img{
        border-radius: 8px;
        width: 50vw;
        height: auto;
        transition: 0.5s;
    }
    .project-container{
        width: 90vw;
        height: auto;
    }
}
